<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
<div class="pos-f-t" style="font-size:80%;font-family: 'Prociono', serif;">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
            <input type="text" class="input-sm form-control" name="project_name" placeholder="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>         

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="{%url 'welcome'%}" style="color: white">Awwards</a>
                </li>
                
                <div class="dropdown">
                        <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; margin-top: 4%">
                          API
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color:transparent">
                          <a class="dropdown-item" href="{% url 'profile' %}" style="color: black">Users API</a>
                          <a class="dropdown-item" href="{% url 'project' %}" style="color: black">Project API</a>
                        </div>
                </div>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'upload'%}" style="color: white">Submit project</a>
                    </li>
                    <li class="nav-item">
                        <span><a class="nav-link" href="/accounts/register/" style="color: white">Register</a></span>
                    </li>
            </ul>
    </nav>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'welcome'%}" style="color: white">Home</a>
                </li>
                
                {% if user.is_authenticated %} 

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myprofile' %}" style="color: white">Profile</a>
                </li> 
                <li class="nav-item">
                    <a href="/accounts/password/change" style="color: white">Change Password</a> 
                </li>
                <li class="nav-item">
                    <a href="/logout" style="color: white">Logout</a>               
                </li>         
                                            
                {% else %}
                <li class="nav-item">
                    <a class='btn btn-default' href="/accounts/login" style="color: white">Login</a>         
                </li> 
                  
                {% endif %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>